.aside-filter {
    &__tabs {
        display: flex;
        justify-content: space-between;
    }
    &__tab {
        width: 50%;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #C4C4C4;
    }  
    &__tab.tab--active {
        font-family: 'SFProDisplay-Bold', sans-serif;
        font-weight: 700;
        color: #2F3035;
    } 
    &__tab.tab--active span{
        display: inline-block;
        padding-bottom: 7px;
        border-bottom: 2px solid #1C62CD;
    }
    &__item-drop{
        margin: 40px 0;
    }
    &__item-title{
        font-family: 'SFProDisplay-Semibold', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        padding-left: 26px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    &__content-box {
        width: 50%;
        margin-bottom: 10px;
    }
    &__content-label {
        cursor: pointer;
        font-size: 14px;
        line-height: 17px;
    }
    &__item-list {
        margin: 46px 0 40px;
    }
}

.filter__item-drop {
    position: relative;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 5px;
        width: 12px;
        height: 8px;
        background-image: url('../images/arrow-down.svg');
        background-repeat: no-repeat;
        transform: rotate(0deg);
    }
    &--active::before {
        transform: rotate(180deg);
    }
} 


.jq-checkbox, .jq-radio {
    background: #fff;
    width: 14px;
    height: 14px;
    border: 1px solid #C4C4C4;
    border-radius: 1px;
    box-shadow: none;
    vertical-align: -2px;
    margin: 0 8px 0 0;
    cursor: pointer;
}


.jq-checkbox.checked, .jq-radio.checked {
    background: #1c62cd;
    border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    height: 6px;
    margin: 4px 0 0 3px;
    border-bottom: none;
    border-left: none;
    transform: rotate(0);
    background-image: url('../../images/checked-icon.svg');
    background-repeat: no-repeat;
}

.jq-radio.checked .jq-radio__div {
    width: 0;
    height: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

.aside-filter__content.aside-filter__content-radio {
    flex-wrap: nowrap;
}

.irs--flat {
    width: 100%;
    margin-top: -15px;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max {
    top: 55px;
    padding: 0;
    padding-left: 27px;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
    color: #2F3035;
    text-shadow: none;
    background-color: transparent;
    border-radius: 0;
    visibility: visible !important;
}

.irs-min::before,
.irs-max::before {
    position: absolute;
    left: 0;
    font-size: 14px;
    line-height: 17px;    
    color: #C4C4C4;
    text-decoration: none;
}

.irs-min::before {
    content: "от";
}

.irs-max::before {
    content: "до";
}

.irs--flat .irs-line {
    top: 25px;
    height: 1px;
    background-color: #e0e0e0;
    border-radius: 0;
}

.irs--flat .irs-bar {
    top: 24px;
    height: 3px;
    background-color: #1C62CD;
}

.irs--flat .irs-handle {
    top: 22px;
    width: 8px;
    height: 8px;
    background-color: #1C62CD;
    border-radius: 50%;
}

.irs--flat .irs-handle > i:first-child,
.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {
    background-color: transparent;
}

.filter {
    &__item-list {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #C4C4C4;
        padding-top: 34px;
    }
    &__item-listtitle {
        font-family: 'SFProDisplay-Semibold', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 14px;
        padding-left: 25px;
    }
    &__item-listselect {
        font-family: 'Barlow', sans-serif;
        font-size: 14px;
        line-height: 17px;
        color: #48494D;
    }
}

.jq-selectbox__select {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494D;
    height: 20px;
    padding: 2px 25px 0 10px;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

.jq-selectbox__trigger {
    border-left: none;
    top: 5px;
    right: 9px;
    bottom: 5px;
    width: 12px;
    height: 8px;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border: none;
}

.jq-selectbox__select:hover,
.jq-selectbox__select:active {
    background: transparent;
    box-shadow: none;
}

.jq-selectbox.focused .jq-selectbox__select {
    border: none;
}

.jq-selectbox li.selected,
.jq-selectbox li:hover {
    background: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li {
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox__dropdown {
    border-radius: 0;
    padding-top: 15px;
}

.filter-more {
    width: 100%;
    &__btn {
        font-size: 14px;
        line-height: 17px;
        color: #1C62CD;
        border-bottom: 1px solid #1C62CD;
        cursor: pointer;
    }
}

.filter-search {
    width: 100%;
    height: 30px;
    border: 1px solid #e0e0e0;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    &::placeholder {
        color: #BDBEC2;
    }
}

.btn-checked .aside-filter__content{
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btn-checked .aside-filter__content-box{
    width: auto;
}

.btn-checked .aside-filter__content-label{
    position: relative;
    height: 25px;
    width: 63px;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #C4C4C4
} 

.btn-checked .jq-checkbox {
    background: #f0f0f4;
    height: 25px;
    width: 63px;
    border: none;
}

.btn-checked .jq-checkbox.checked {
    background: #1C62CD;
    color: #fff;
}

.btn-checked .jq-checkbox.checked ~ .btn-checked__text{
    color: #fff;
}

.btn-checked .jq-checkbox.checked .jq-checkbox__div {
    display: none;
}

.btn-checked__text {
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-59%);
    z-index: 5;
}

.filter-btn__send {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #BDBEC2;
    background: #F0F0F4;
    cursor: pointer;
    padding: 16px 85px;
    margin-bottom: 15px;
    &--active {
        background-color: #1c62cd;
        color: #fff;
    }
}

.aside-filter__item-btn {
    text-align: center;
}

.filter__extra {
    position: relative;
    display: inline-block;
    padding-right: 29px;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 4px;
        background-image: url('../../images/arrow-down.svg');
        width: 12px;
        height: 8px;
    }
}

.filter__extra-content {
    display: none;
}

.filter__extra.filter__item-drop--active::after {
    transform: rotate(180deg);
}

.filter-btn__reset {
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    color: #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}