.card {
    margin-bottom: 100px;
    &__tab-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #f0f0f4;
        padding: 22px 0;
        margin-bottom: 50px;
    }
    &__tab {
        font-size: 20px;
        line-height: 24px;
        color: #2f3035;
        opacity: 0.6;
    }
    &__tab.tab--active {
        border-bottom: 1px solid #1c62cd;
        opacity: 1;
    }
    &__top-line {
        margin-bottom: 10px;
    }
    &__label-search {
        font-size: 17px;
        line-height: 20px;
        color: rgba(47, 48, 53, 0.7);
    }
    &__input-search {
        background: #f0f0f4;
        border-radius: 3px;
        margin-right: 100px;
        margin-left: 17px;
        padding: 9px 37px 9px 17px;
        border: none;
    }
    &__label-pickup {
        font-size: 17px;
        line-height: 20px;
        color: rgba(47, 48, 53, 0.7);
        margin-left: 54px;
    }
    &__list-item {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid rgba(47, 48, 53, 0.1);
        font-size: 16px;
        line-height: 24px;
        color: rgba(47, 48, 53, 0.7);
    }
    &__list-itemtitle {
        font-size: 20px;
        line-height: 24px;
        color: rgb(47, 48, 53);
    }
    &__list-address {
        width: 220px;
        margin-right: 80px;
    }
    &__list-workhours {
        width: 157px;
        margin-right: 96px;
    }
    &__workhours {
        display: flex;
        justify-content: space-between;
    }
    &__list-avialable {
        width: 140px;
        margin-right: 60px;
    }
    &__list-num {
        width: 104px;
    }
    &__list-btn {
        margin-left: auto;
    }
    &__list-btn button {
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.12em;
        color: #ffffff;
        background: #1c62cd;
        border-radius: 3px;
        padding: 10px 40px;
        cursor: pointer;
    }
}

@media (max-width: 1201px) {
    .slick-slide {
        text-align: center;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
}
@media (max-width: 1100px) {
    .card {
        &__label-pickup {
            margin-left: 30px;
        }
    }
}
@media (max-width: 968px) {
    .card {
        &__input-search {
            margin-right: 0;
        }
        &__top-line label {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            margin-left: 0;
        }
        &__list-item {
            display: block;
        }
        &__list-item div {
            text-align: center;
            margin-bottom: 15px;
            margin-right: 0;
            width: 100%;
        }
        &__list-itemtitle {
            display: none;
        }
        &__workhours {
            display: block;
        }
    }
    .tabs-wrapper.tabs-wrapper--no-scroll {
        overflow: hidden;
    }
}
