.catalog {
    margin-bottom: 100px;
    &__title {
        font-family: "SFProDisplay-Bold", sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 26px;
    }
    &__filter {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__filter-items button {
        font-size: 14px;
        line-height: 17px;
        opacity: 0.7;
        background: #f0f0f4;
        border-radius: 3px;
        padding: 5px 22px;
        cursor: pointer;
    }
    &__filter-items button + button {
        margin-left: 8px;
    }
    &__filter-btn {
        display: flex;
        align-items: center;
    }
    &__filter-btn button {
        cursor: pointer;
        margin: 0;
        padding: 0;
    }
    &__filter-btn button + button {
        margin-left: 10px;
    }
    &__filter-btngrid {
        width: 26px;
        height: 21px;
    }
    &__filter-btnline {
        width: 25px;
        height: 19px;
    }
    &__filter-button {
        opacity: 0.3;
        outline: none;
    }
    &__filter-button--active {
        opacity: 1;
    }
    &__inner {
        display: flex;
    }
    &__inner-aside {
        min-width: 290px;
        margin-right: 10px;
    }
    &__inner-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__inner-list .product-item__wrapper {
        margin-bottom: 30px;
    }
}

.select-item {
    border: 1px solid #d7d9df;
    font-size: 14px;
    line-height: 17px;
    color: #2f3035;
    margin-right: 34px;
    padding: 7px 10px 7px 20px;
}

@media (max-width: 1200px) {
    .catalog {
        &__inner-list {
            justify-content: space-around;
        }
    }
    // .tabs-wrapper.tabs-wrapper--no-scroll {
    //     overflow: hidden;
    // }
}

@media (max-width: 940px) {
    .catalog__filter-btn button {
        display: none;
    }
    .catalog__filter-btn {
        margin-top: 30px;
    }
    .catalog__filter {
        display: block;
    }
}

@media (max-width: 640px) {
    .catalog {
        &__inner {
            flex-wrap: wrap;
        }
        &__filter-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__filter-items button {
            margin-bottom: 3px;
        }
    }
}
