.footer {
    background-color: $background-element-color;
    &__top {
        padding-top: 43px;
    }
    &__top-inner {
        display: flex;
        justify-content: space-between;
    }
    &__top-item {
        width: 200px;
    }
    &__top-newsletter {
        width: 295px;
        margin-right: 50px;
    }
    &__top-social {
        width: 250px;
    }
    &__top-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
    }
    &-form {
        margin-top: 34px;
        display: flex;
        justify-content: space-between;
    }
    &-form__input {
        background-color: #fff;
        border: none;
        font-size: 14px;
        line-height: 17px;
        padding: 0 12px;
    }
    &-form__input::placeholder {
        color: #C4C4C4;
    }
    &-form__btn {
        font-family: 'SFProDisplay-Semibold', sans-serif;
        text-transform: uppercase;
        padding: 10px 16px;
        background-color: $color-decorative-elements;
        color: $optional-text-color;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.12em;
    }
    &-list {
        font-size: 14px;
        line-height: 22px;
    }
    &__bottom {
        display: flex;
        justify-content: center;
        padding: 46px 0 22px;

    }
    &__bottom-link {
        font-size: 10px;
        line-height: 12px;
        color: #48494D;
        margin: 0 40px;
    }
}

.social-list {
    display: flex;
    align-items: center;
    height: 100%;
} 

.social-list__item + .social-list__item {
    margin-left: 30px;
} 