.product-card {
    margin-bottom: 80px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__img-box {
        position: relative;
        font-family: "Barlow", sans-serif;
        width: 500px;
        padding-top: 64px;
        text-align: center;
    }
    &__img-box::before {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.12em;
        padding: 13px 25px;
        border-radius: 3px;
    }
    &__price-old {
        display: inline-block;
        font-weight: normal;
        font-size: 30px;
        line-height: 44px;
        opacity: 0.6;
        background-image: url("../images/old-line.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__price-new {
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 17px;
    }
    &__link {
        border-bottom: 1px solid #1c62cd;
        font-size: 15px;
        line-height: 18px;
        color: #1c62cd;
    }
    &__content {
        width: 570px;
    }
    &__title {
        font-family: "SFProDisplay-Bold", sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 10px;
    }
    &__code {
        font-size: 15px;
        line-height: 18px;
        opacity: 0.6;
        color: #2f3035;
        margin-bottom: 22px;
    }
    &__buttons {
        margin-bottom: 50px;
    }
    &__buttons a + a {
        margin-left: 30px;
    }

    &__tab {
        font-size: 20px;
        line-height: 24px;
        color: #2f3035;
        opacity: 0.6;
        padding-bottom: 5px;
        padding-right: 17px;
        margin-bottom: 5px;
    }
    &__tab + .product-card__tab {
        padding-left: 17px;
    }
    &__tab.tab--active {
        font-family: "SFProDisplay-Bold", sans-serif;
        font-weight: 700;
        opacity: 1;
        border-bottom: 3px solid #1c62cd;
        transition: opacity 0.4s ease-in;
    }
    &__list {
        margin-bottom: 20px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        padding: 15px 0 6px;
        border-bottom: 1px solid rgba(47, 48, 47, 0.1);
    }
    &__item-left {
        padding-right: 15px;
    }
    &__item-right {
        width: 125px;
    }
    &__more {
        font-size: 14px;
        line-height: 17px;
        color: #1c62cd;
        border-bottom: 1px solid #1c62cd;
        margin-bottom: 40px;
    }
    &__btn-mobile {
        display: none;
    }
    &__btn button {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #1c62cd;
        padding: 16px 53px;
        border-radius: 3px;
        cursor: pointer;
    }
}

@media (max-width: 968px) {
    .product-card {
        &__inner {
            flex-wrap: wrap;
        }
        &__tabs {
            display: none;
        }
        &__content {
            order: -1;
        }
        &__btn button {
            display: none;
        }
        &__btn-mobile button{
            display: block;
            margin: 40px auto 0;
        }
        &__img-box {
            width: 100%;
        }
    }
    .product-card__btn-mobile {
         display: block; 
    }
}

@media (max-width: 640px) {
    .product-card {
        &__title {
            font-size: 20px;
            line-height: 24px;
        }
        &__buttons a + a {
            margin-left: 10px;
        }
    }
}
