// colors
$white: #FFFFFF;
$black: #2F3035;
$blue: #1C62CD;
$grey: #F0F0F4;

$main-text-color: $black;
$optional-text-color: $white;
$color-decorative-elements: $blue; 
$background-element-color: $grey;

 
